.crew_info {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 270px;
    margin: 50px 150px 120px 0;
}

.crew_job {
    color: #FFF;
    font-family: 'Bellefair', serif;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.5;
}

.crew_name {
    color: #FFF;
    font-family: 'Bellefair', serif;
    font-size: 56px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 15px 0 27px;
    width: 800px;
}

.crew_desc {
    color: #D0D6F9;
    font-family: 'Barlow', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    width: 444px;
}

.crew_image{
    width: 480px;
    height: 510px;
}